@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Raleway');

body {
    font-family: 'Raleway', sans-serif;
    background: rgb(113, 123, 211);
    margin: 0;
    color: rgb(106, 224, 245);
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

header, main {
    padding: 8px;
}

header {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background: rgb(101, 199, 101);
    border-bottom: 1px solid rgb(115, 211, 131);
}

h1 {
    margin: 0 20px;
    flex-grow: 2;
    color: black;
    margin-top: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    height: 65px;
    background: lightgrey;
    text-align: center;
    padding-top: 25px;
}

main {
    margin-bottom: 100px;
}


input, fieldset, button {
    border: 1px solid rgb(55, 218, 77);
}

button {
    margin: 20px 0;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bolder;
}

#pdx-image {

    width: 20%;
}

h2 {
    font-size: large;
    text-align: center;
    color: rgb(106, 224, 245);
}

img {
    border: black solid 2px;
}

/* .container {
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
  } */


#results-image {
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    text-align: center;
    min-height: 100px;
    margin: auto;
}


